body{background-color: red;}

		#first{font-size: 60px}
		
		h1{color: orange; 
			font-size: 90px;
			text-decoration: underline;
		}
		.small{font-size: 12px;
		}
		h2{font-size: 40px;
			color: green
		}
		span{font-style: italic;
		}
		h2 span{text-decoration: line-through;
		}
	</style>